{% extends "base.html" %}
{% block content %}
<h2>Получатели рассылки</h2>
<a href="{% url 'recipient_add' %}" class="btn btn-primary mb-2">Добавить получателя</a>
<table class="table table-striped">
    <tr>
        <th>ID</th><th>Email</th><th>ФИО</th><th>Комментарий</th><th>Действия</th>
    </tr>

{% for recipient in recipients %}
<tr>
<td>{{ recipient.id }}</td>
<td>{{ recipient.email }}</td>
<td>{{ recipient.full_name }}</td>
<td>{{ recipient.comment }}</td>
<td>
    <a href="{% url 'recipient_detail' recipient.id %}" class="p-2 btn btn-outline-primary me-2" >Просмотр</a> |
    <a href="{% url 'recipient_edit' recipient.id %}" class="btn btn-primary">Редактировать</a> |
    <a href="{% url 'recipient_delete' recipient.id %}" class="btn btn-danger" >Удалить</a>
</td></tr>
{% endfor %}
</table>
{% endblock %}
